body,html{
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
#background{
    background-color: rgb(21,31,43);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#christmasTree{
    position: absolute;
    top: 100%;
overflow: visible;
    
}
#svg{
    height: 100%;
    width: 100%;
}
svg{
    overflow: visible;
}
#baubles{
    transform: translateX(50%)
}